<md-content layout-padding>
    <div style="width : 600px; margin: 0 auto;">
        <div layout-align="center center" layout="column">
            <h3 class="md-title">Add a New Repair</h3>
        </div>
        <form name="new-repair">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Customer</label>
                    <md-select  ng-model="repair.customer">
                        <md-option ng-repeat="customer in customers.object" ng-click="getVehicles(customer.id)" >{{customer.first_name}} {{customer.last_name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>vehicle</label>
                    <md-select  ng-model="repair.vehicle">
                        <md-option ng-repeat="vehicle in vehicles.object" ng-click="setVehicleid(vehicle.id)" >{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Repair Type</label>
                    <md-select  ng-model="repair.type">
                        <md-option ng-repeat="type in repairTypeArray" >{{type}}</md-option>
                    </md-select>
                </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Current Mileage </label>
                        <input type="number" ng-model="repair.mileage">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Amount billed</label>
                    <input type="number" ng-model="repair.fee">
                </md-input-container>
                    <div>
                        <md-datepicker class="date-picker" ng-model="repair.date" md-placeholder="Enter date"></md-datepicker>
                    </div>


                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description of Repair</label>
                        <input type="text" ng-model="repair.description">
                    </md-input-container>
                </div>

            </div>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button ng-click="postRepair(repair)" class="md-raised">SUBMIT</md-button>
            </section>
        </form>
    </div>
</md-content>
</div>
