<md-content layout-padding class="taller">
    <div class="add-customer">
        <div layout-align="center center" layout="column" class="green">
            <h3 class="md-title white">Add a New Vehicle</h3>
        </div>
        <form name="new-repair">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Customer</label>
                    <md-select  ng-model="vehicle.customer">
                        <md-option ng-repeat="customer in customers.object | orderBy : '-id'" ng-click="saveCustomerId(customer.id)" >{{customer.first_name}} {{customer.last_name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">

            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Vehicle Year</label>
                    <md-select  ng-model="vehicle.year">
                        <md-option ng-repeat="year in years" ng-click="getMakesList(year)" >{{year}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Vehicle Make</label>
                    <md-select  ng-model="vehicle.make">
                        <md-option ng-repeat="make in makes.object" ng-click="getModelsList(make)" >{{make.name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Vehicle model</label>
                    <md-select  ng-model="vehicle.model">
                        <md-option ng-repeat="model in models " ng-click="getEngine(model.name)">{{model.name}}</md-option>
                    </md-select>
                </md-input-container>

            </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Engine</label>
                        <md-select  ng-model="vehicle.engine">
                            <md-option ng-repeat="engine in engines.object" " >{{engine.engine.size}}</md-option>
                        </md-select>
                    </md-input-container>


                <md-input-container class="md-block" flex-gt-sm>
                    <label>Transmission</label>
                    <md-select  ng-model="vehicle.transmission">
                        <md-option>Automatic</md-option>
                        <md-option>Manual</md-option>
                    </md-select>
                </md-input-container>
                </div>

            <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Vehicle Identification Number</label>
                        <input type="text" ng-model="vehicle.vin">
                    </md-input-container>
            </div>

            </div>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button ng-click="postVehicle(vehicle)" class="md-raised">SUBMIT</md-button>
            </section>
        </form>
    </div>
</md-content>
</div>
