/*body{*/
    /*background-image: url("/assets/images/Edvard_Munch_-_Melancholy_(1894).jpg");*/
    /*background-repeat:no-repeat ;*/
    /*background-position: center;*/
    /*background-color: #4F4D3F;*/
    /*background-size: 100%;*/
/*}*/
/*body{*/
    /*color: yellow;*/
/*}*/

h1 h3{
    color: #151fa1;
}
p{
    color: #0a9c3f;
}
.date-picker {
    float: right;
    margin-right: 45px;
    margin-bottom: 45px;
}
/*.container {*/
    /*text-align: center;*/
    /*padding: 10px 10px;*/
/*}*/
/*.table{*/
    /*color: aliceblue;*/
    /*opacity: .8;*/
/*}*/