body{
    background-color: teal;
}
.header {
    background-image: url("/assets/images/melancholy-of-departure.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4D3F;
    height: 275px;
    background-size: 100%;
}
.home {
    /*background-image: url("/assets/images/Starry_Night_Over_the_Rhone.jpg");*/
    /*background-size: 100%;*/
    background-color: #d4dbd8;
}
.footer {
    background-image: url("/assets/images/Edvard_Munch_-_Melancholy_(1894).jpg");
    background-size: 100%;
    height: 245px;
}
.login-body{
    background-image: url("/assets/images/sad_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
    color: aliceblue;
}
.login-div{
    /*width : 300px;*/
    /*height: 275px;*/
    /*background-color: #bfedf3;*/
    /*margin: 0 auto;*/
}
.login-mdcontent{
    width: 350px;
    margin: 0 auto;
}


h1 h3{
    color: aliceblue;
}
p{
    color: #bfedf3;
}
.date-picker {
    float: right;
    margin-right: 45px;
    margin-bottom: 45px;
}

.face{
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-bottom: 5% ;
}

.face img{

    height: 150px;
    width: 175px;
    border: solid;

}