body{
    background-color: #4F4D3f;
}
.header {
    background-color: #4F4D3F;
    height: 135px;
    background-size: 100%;
    color: whitesmoke;
}
.home {
    background-color: #C5CEC5;
}
.footer {
    background-color: #4F4D3F;
    height: 135px;
}
.login-body{
    background-image: url("/assets/images/sad_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
    color: aliceblue;
}
.login-title{
    margin-top:7%;
    margin-bottom: 2%;
}

.login-mdcontent{
    width: 350px;
    margin: 0 auto;
}


h1 h3{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
.date-picker {
    float: right;
    margin-right: 45px;
    margin-bottom: 45px;
}

.face img{

    margin: 15px 0 0 15px;
    height: 100px;
    width: 115px;
    border: solid;

}
.white{
    color: whitesmoke;
}
.edit-form{
    padding: 20px 25px;
}

.add-customer{
    width : 600px;
    border-left: 2px solid #082A12;
    border-right: 2px solid #082A12;
    border-bottom: 2px solid #082A12;
    margin: 0 auto;
    padding:0 0;
}
.green {
    background-color: #082A12;
}
.taller {
   height: 700px;
}