<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
    <!--<script src="assets/vendors/angular/angular.min.js"></script>-->
    <!--<script src="assets/vendors/angular-route/angular-route.min.js"></script>-->
    <!--<script src="assets/vendors/angular-animate/angular-animate.min.js"></script>-->
    <!--<script src="assets/vendors/angular-aria/angular-aria.min.js"></script>-->
    <!--<script src="assets/vendors/angular-messages/angular-messages.min.js"></script>-->
    <!--<script src="assets/vendors/angular-material/angular-material.min.js"></script>-->
    <!--<script src="assets/scripts/client.min.js"></script>-->
    <!--<link rel="stylesheet" href="assets/vendors/angular-material/angular-material.min.css">-->
    <!--<link rel="stylesheet" href="assets/styles/style.min.css">-->
    <base href="/">

</head>
<body>
    <div class="instructions">
    <div class="container">
        <h1 class="lead">Failed to login</h1>
    </div>


    </div>
    <p><a href="/">Back to login</a></p>
</body>
</html>