<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="assets/vendors/angular/angular.min.js"></script>
    <script src="assets/vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script src="assets/vendors/angular-material/angular-material.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/styles/style.min.css">
    <base href="/">

</head>
<body ng-controller="LoginController">
<h1>{{title}}</h1>

<h3>{{login}}</h3>
<p>{{test}}</p>

<div>
    <md-content layout-padding>
        <div style="width : 300px; margin: 0 auto;">
            <!-- Set form action and method -->

            <form name="userLogin">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>User Name</label>
                        <input ng-model="User.username" required>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="User.password" type="password" required>
                    </md-input-container>
                </div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button ng-click="loginFunction(User)" class="md-raised">LOG IN</md-button>
                </section>
            </form>
        </div>
    </md-content>


</div>
</body>
</html>