<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Express / Passport</title>
    <script src="assets/vendors/angular/angular.min.js"></script>
    <script src="assets/vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script src="assets/vendors/angular-material/angular-material.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/styles/style.min.css">
    <base href="/">

</head>
<body >


    <div class="instructions">
        <div class="container">
            <h1 class="lead">Register New User</h1>
        </div>
    </div>

    <div class="container">
        <!-- Set action and method -->
        <form action="/register" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            </div>

            <input type="submit" value="Register"/>
        </form>
    </div>


</body>
</html>