<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Melancholy Motors</title>
    <script src="assets/vendors/angular/angular.min.js"></script>
    <script src="assets/vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script src="assets/vendors/angular-material/angular-material.min.js"></script>
    <script src="assets/vendors/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/vendors/angular-material-data-table/dist/md-data-table.min.css">
    <link rel="stylesheet" href="assets/styles/style.min.css">
    <base href="/">
</head>
<body ng-controller="LoginController">


    <div layout-align="center center" layout="column">
        <div >
            <h1 class="lead white">Register New User</h1>
        </div>
    </div>

    <md-content layout-padding>
        <div class="add-customer">
            <div layout-align="center center" layout="column" class="green" >
                <h3 class="md-title white">Admin Registration</h3>
            </div>

            <form name="userRegistration" class="inner-form">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>User name</label>
                        <input ng-model="newUser.username">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="newUser.email">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="newUser.password">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Verify Password</label>
                        <input ng-model="newUser.verifyPassword">
                    </md-input-container>
                </div>


                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button ng-click="goLogin()" class="md-raised md-accent white">Back to Login</md-button>

                    <md-button ng-click="registerUser(newUser)" class="md-raised md-accent white">Submit</md-button>
                </section>
            </form>
        </div>
    </md-content>
    </div>

</body>
</html>